
.paths-container {
    overflow: scroll;
    
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: row;

    justify-content: center;
    justify-items:flex-start;
    padding: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap;
    gap: 4%;
    margin: auto auto 4vw auto;
    box-shadow: inset -4px -4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    transition: all 1s ease-out;
}

.paths__election-button--whole{
    
    transform: rotateX(20Deg) rotateY(-10Deg);
    border-radius: 9px;
    background-color: #523E53;
}
.paths__election-button--yours{
    transform: rotateX(20Deg) rotateY(10Deg);
    
    background-color:#C19D72;
}
.paths__election-button{

    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    border-radius: 9px;
    cursor: pointer;
}
.paths__election-button--normal:hover{
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.paths__election-button--normal{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.paths__election-button--clicked{
    box-shadow: inset -4px -4px 7px rgba(0, 0, 0, 0.25);
}
.path__buttons-container{
    margin-bottom: 5%;
    margin-top: 5%;
    gap: 10px;
    align-items: center;
}

.paths__buttons-vertical-line{
    background-color: #7B7E9C;
    width: 1px;
    height: 100px;
}