.path__cubik-curve{
    position: absolute;
    border: 1px solid white;
    transform: rotateZ(45Deg);
    border-color: transparent transparent transparent #C4C4C4;
    z-index: -4;
    pointer-events: none;
    border-radius: 500px;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
}
.path__cubik{
    box-sizing:content-box;
    border: 1px solid #c4c4c4;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:calc(100%);
    left: -1px;
    transform: rotateZ(-90Deg);
    cursor: auto;


}

.path__next-cubik{
    cursor: pointer;
    box-sizing:content-box;
    border: 1px solid #c4c4c4;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.path__next-cubik-arrow{
    position: absolute;
    color: #C4C4C4;
    font-size: 2vw;
    transform: rotateZ(90Deg);
}
.path__previous-cubik-arrow{
    position: absolute;
    color: #C4C4C4;

    margin: auto;
    font-size: 2vw;
}
.path__main-container{
    position: relative;
    
}
.path__paths-container{
    width: fit-content;
    height: fit-content;
    margin: auto;
}