.specific-path__title-container{
    background: #276271;
    padding: 1vw 5vw;
    
    clip-path: polygon(10% 0, 100% 0, 92% 100%, 0 100%);
    transform: rotateZ(-4Deg);

}

.specific-path__main-container{
    width: 100%;
    height: fit-content;
    gap: 7vh;
}
.specific-path__content-container{
    overflow: scroll;
    width: 90%;
    height: 70vh;
    padding: 5%;
    
    gap: 4%;
    margin: auto;
    box-shadow: inset -4px -4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #276271;
    transition: all 1s ease-out;
    position: relative;
}

.path__modal-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.path__modal-main-container{
    position: absolute;
    height: 30%;
    width: 40%;
    border: 1px solid black;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(0, 87, 217);
    border-radius: 10px 10px 2px 2px;

}
.path__modal-container{
    background-color: white;
    position: absolute;
    height: 85%;
    width: 99%;
    border: 1px solid black;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.path__modal-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;

}
.path__modal-x{
    width: 2vw;
    height: 10%;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: rgb(234,78,82);
    border-radius: 4px 4px 0 0;
}
.path__modal-header{
    position: absolute;
    left: 3px;
    top: 3px;
}
.path__modal-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}