.specific-path__title-container{
    background: #276271;
    padding: 1vw 5vw;
    
    clip-path: polygon(10% 0, 100% 0, 92% 100%, 0 100%);
    transform: rotateZ(-4Deg);

}

.specific-path__main-container{
    width: 100%;
    height: fit-content;
    gap: 7vh;
}
.specific-path__content-container{
    overflow: scroll;
    
    width: 90%;
    height: 70vh;
    padding: 5%;
    
    gap: 4%;
    margin: auto;
    box-shadow: inset -4px -4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #276271;
    transition: all 1s ease-out;
}