*{
    font-family: Ubuntu;
    box-sizing: border-box;
}
body {
    background-color: rgb(129, 217, 255);
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 1s ease-out;
}

.home-main-container{
    position: absolute;
    left: 10vw;
    top:1vw;
    width: 80vw;
    height: 100vw;
    background-color: white;
    box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.62);
    border-radius: 6vw;
}
.home-main__oneRow{
    
    margin-bottom: 10vw;
    margin-left: 6vw;
    margin-right: 6vw;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw 1vw;
}
.home-main__item-container{
    display: flex;
    justify-content: center;
    width: 27%;
    height: 27%;
}
.home-main__logo-img{
    width: 100%;
    height: 100%;
}
